#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 90vh;
  width: 90vw;
  border: solid grey 2px;
}

.card_list {
  width: 90%;
  padding: 0;
  margin: 2.5rem auto;
}

.MuiCard-root {
  margin: 5px;
}